.venv/

__pycache__
dist

.mypy_cache/
.ruff_cache/

/.coverage
/.pytest_cache
/htmlcov

ignite_test/*.zip

infrastructure/.terraform
infrastructure/*.hcl
infrastructure/*.tfstate
infrastructure/*.backup
